<div class="side-bar" ng-init="tripsCtrl.getTrips()">
  <input type="text" ng-model="search" placeholder="search...">
  <hr/>
  <div class="trip-list">
    <ul class="vertical-list" ng-repeat="trip in tripsCtrl.trips | filter: search">
      <li>
        <p class="bold">@{{trip.user.username}}</p>
        <p class="bold gray" ng-click="tripsCtrl.setTrip($index)">&nbsp;&nbsp;&nbsp;# {{trip.name}}</p>
      </li>
    </ul>
  </div>
  <br/>
  <form class="add-form" name="addForm" ng-submit="tripsCtrl.addTrip(addForm.$valid)" ng-if="tripsCtrl.isAuth" novalidate>
    <input name="hashtag" type="text" ng-model="tripsCtrl.hashtag" placeholder="trip hashtag..." required>
    <button class="add-btn" type="submit" ng-disabled="addForm.$invalid">add your trip!</button>
  </form>
</div>