.side-bar {
  width: 200px;
  display: inline;
  margin: 10px;
  padding: 10px 20px;
  text-align: left;
}

.trip-list {
  height: 250px;
  

}
img {
    width: 100%;
    height: auto;
}

.bold {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0px;
}
.gray {
  font-size: 1.1em;
  color: gray;
}

.gray:hover {
  cursor: pointer;
  color: steelblue;
}

.gray:active {
  color: steelblue;
}

.vertical-list {
  list-style-type: none;
  padding: 0px;
}

.add-form {

}

.add-btn {
  margin: 10px 22px;
  padding: 10px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: none;
  border-radius: 3px;
}
.add-btn:hover {
  background-color: rgba(0,0,0,0.2);
  color: white;
}
.add-btn:focus {
  color: white;
}
