.trips {
  width: 200px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid green;
  text-align: left;
}

.hashTag {

}

.hashTag:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0px;
}
