.navbar {
  background: url("http://lorempixel.com/1200/600/nightlife") no-repeat center;
  background-size: cover;
  height: 150px;
  margin: 0 auto 10px;
}

.wrapper {
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.nav {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.welcome {
  width: 24%;
}

.logo {
  width: 50%;
}

.btns {
  width: 24%;
}

button {
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 3px;
}